[Unit]
Description=Webserver and IMAP client to collect standardized browser and mailer reports
After=network.target

[Service]
Type=simple
User=network-journal
Group=network-journal
Environment="RUST_LOG=debug"
ExecStart=/usr/bin/network-journal --config /etc/network-journal/network-journal.yml
StandardOutput=append:/var/log/network-journal/network-journal.log
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
